html{
    scroll-behavior: smooth;
    padding: 0px;
}



.margem-top-150{
    margin-top: 140px;
    
}

.margem-top-160{
    margin-top: 260px;
    
}

.fonte-home{
    font-family: 'Enriqueta', serif;
    font-size: 40px;
}

.fonte-home2{
    font-family: 'Enriqueta', serif;
    font-size: 25px;
}

.fonte-home1{
    font-family: 'Enriqueta', serif;
    
}

.fonte-home-yellow{
    font-family: 'Enriqueta', serif;
    font-size: 40px;
    color: ccc;
}

.fonte-home-little{
    font-family: 'Enriqueta', serif;
    font-size: 15px;
    color: #A6A6A6;
    
}

.navbar {

    font-family: 'Enriqueta', serif;
    -webkit-box-shadow: 0px 13px 12px 0px rgba(57, 50, 50, 0.07);
    -moz-box-shadow:    0px 13px 12px 0px rgba(57, 50, 50, 0.07);
    box-shadow:         0px 13px 12px 0px rgba(57, 50, 50, 0.07);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #1F43E8;
}

.parallax {
    background-image: url("1.png");
    
    min-height: 670px;
    background-size: cover;
    border-bottom: 0px;
    background-repeat: no-repeat;
}

.parallax2 {
    background-image: url("2.png");

    min-height: 670px;
    background-size: cover;
    border-bottom: 0px;
    background-repeat: no-repeat;
}

.parallax3 {
    background-image: url("3.png");

    min-height: 670px;
    background-size: cover;
    border-bottom: 0px;
    background-repeat: no-repeat;
}

.parallax4 {
    background-image: url("4.png");

    min-height: 670px;
    background-size: cover;
    border-bottom: 0px;
    background-repeat: no-repeat;
}

.imagem-botao{
   
        border-radius: 5%;
        -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

